{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Embedded C</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    

</head>

<body>

            <header class="bg-white" style="position: fixed; top: 0;">
                <div class="header_inner">
                    <div class="left-side">
                        
                        <!-- Logo -->
                        <div id="logo" class="">
                            <a  href="/">
                                <img src="{% static 'images/logo.png' %}" class="header-favatar" style="max-height: 50px; margin: 7.5px;" alt="">
                        </div>

                        <div id="logo" class="">
                            <a href="/">
                                <b><h1 style="text-transform: uppercase;">Smat School of Engineering</h1></b>
                            </a>
                        </div>


                    </div>
                    <div class="right-side lg:pr-4">

                        <!-- profile -->

                        <a href="#">
                            <img src="{% static 'assets/images/avatars/avatar-2.jpg' %}" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="setting"> Account setting </a> </li>
                                <li><a href="explore.html">explore </a> </li>
                                <li><a href="#"> Help </a> </li>
                                <li><a href="signin"> Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>
            <div id="main" class="main">
                <!-- Hidden side bar-->
                <div id="mySidenav" class="sidenav">
                    <div class="menuitem" onclick="openNav('mySidenav1')"><a href="#" > Module 1</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav2')"><a href="#"> Module 2</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav3')"><a href="#"> Module 3</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav4')"><a href="#"> Module 4</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav5')"><a href="#"> Module 5</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav6')"><a href="#"> Module 6</a></div>
                </div>
                <!-- Module 1 -->
                <div id="mySidenav1" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav1')"><a href="javascript:void(0)" class="closebtn menuitemlink" >&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(1)"><a href="#" class="menuitemlink"> Day 1</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="intro">Intro to Embedded Systems</a></div>
                        <div class="btn" ><a href="intro_embedded_c">Intro to Embedded C</a></div>
                        <div class="btn" ><a href="python_1_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_1_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(2)"><a href="#" class="menuitemlink"> Day 2</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_2_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_2_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_2_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_2_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(3)"><a href="#" class="menuitemlink"> Day 3</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_3_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_3_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_3_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_3_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(4)"><a href="#" class="menuitemlink"> Day 4</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_4_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_4_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_4_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_4_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(5)"><a href="#" class="menuitemlink"> Day 5</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_4_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_4_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_4_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_4_4">Unit 4</a></div>
                    </div>
                </div>

                <!-- Module 2 -->
                <div id="mySidenav2" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav2')"><a href="javascript:void(0)" class="closebtn menuitemlink">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(16)"><a href="#" class="menuitemlink"> Day 6</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_16_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_16_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_16_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_16_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(17)"><a href="#" class="menuitemlink"> Day 7</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_17_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_17_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_17_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_17_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(18)"><a href="#" class="menuitemlink" > Day 8</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_18_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_18_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_18_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_18_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(19)"><a href="#" class="menuitemlink"> Day 9</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_19_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_19_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_19_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_19_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(20)"><a href="#" class="menuitemlink" > Day 10</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_20_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_20_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_20_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_20_4">Unit 4</a></div>
                    </div>            

                </div>

                <!-- Module 3 -->
                <div id="mySidenav3" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav3')"><a href="javascript:void(0)" class="closebtn">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(31)"><a href="#" class="menuitemlink"> Day 11</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_31_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_31_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_31_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_31_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(32)"><a href="#" class="menuitemlink"> Day 12</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_32_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_32_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_32_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_32_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(33)"><a href="#" class="menuitemlink"> Day 13</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_33_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_33_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_33_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_33_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(34)"><a href="#" class="menuitemlink"> Day 14</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_34_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_34_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_34_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_34_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(35)"><a href="#" class="menuitemlink"> Day 15</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_35_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_35_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_35_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_35_4">Unit 4</a></div>
                    </div>


                </div>


                <!-- Module 4 -->
                <div id="mySidenav4" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav4')"><a href="javascript:void(0)" class="closebtn">&laquo; Back</a></div>                   
                    <div class="menuitem" onclick="openmenuitems(46)"><a href="#" class="menuitemlink"> Day 16</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_46_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_46_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_46_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_46_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(47)"><a href="#" class="menuitemlink"> Day 17</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_47_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_47_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_47_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_47_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(48)"><a href="#" class="menuitemlink"> Day 18</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_48_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_48_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_48_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_48_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(49)"><a href="#" class="menuitemlink"> Day 19</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_49_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_49_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_49_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_49_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(50)"><a href="#" class="menuitemlink"> Day 20</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_50_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_50_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_50_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_50_4">Unit 4</a></div>
                    </div>

               
                </div>

                <!-- Module 5 -->
                <div id="mySidenav5" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav5')"><a href="javascript:void(0)" class="closebtn menuitemlink">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(61)"><a href="#" class="menuitemlink"> Day 21</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_61_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_61_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_61_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_61_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(62)"><a href="#" class="menuitemlink"> Day 22</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_62_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_62_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_62_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_62_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(63)"><a href="#" class="menuitemlink"> Day 23</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_63_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_63_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_63_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_63_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(64)"><a href="#" class="menuitemlink"> Day 24</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_64_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_64_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_64_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_64_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(65)"><a href="#" class="menuitemlink"> Day 25</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_65_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_65_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_65_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_65_4">Unit 4</a></div>
                    </div>


               
                </div>

                <!-- Module 6 -->
                <div id="mySidenav6" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav6')"><a href="javascript:void(0)" class="closebtn menuitemlink">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(76)"><a href="#" class="menuitemlink"> Day 26</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_76_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_76_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_76_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_76_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(77)"><a href="#" class="menuitemlink"> Day 27</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_77_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_77_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_77_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_77_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(78)"><a href="#" class="menuitemlink"> Day 28</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_78_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_78_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_78_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_78_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(79)"><a href="#" class="menuitemlink"> Day 29</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_79_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_79_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_79_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_79_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(80)"><a href="#" class="menuitemlink"> Day 30</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_80_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_80_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_80_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_80_4">Unit 4</a></div>
                    </div>

                </div>

                <div id="myrightside" class="rightside"> 
                    <div id="" class="bg-pink-500 right-side-topnav">
                        <div class="menu_container " onclick="myFunction(this)">
                            <div class="bar1 bar" style="margin-top: 12.5px; margin-left: 7.75px;"></div>
                            <div class="bar2 bar" style="margin-top: 3px; margin-left: 7.75px;"></div>
                            <div class="bar3 bar" style="margin-top: 3px; margin-left: 7.75px; margin-bottom: 12.5px;"></div>
                        </div>
                       
                        
                        <!-- Settings -->
                        <a href="setting" class="bar-icons" >
                                <i class="fa fa-cog fa-2x faicons" style="margin: 5px 7.14165px;"></i>
                        </a>
                        

                        <!-- Home -->
                        <a href="dashboard" class="bar-icons">
                                <i class="fa fa-home fa-2x faicons" style="margin: 5px 6.075px;"></i>
                        </a>
                        
                    </div>
                    <div id="lessonContainer" class="lesson-container">
                        <div class="bg-white " style="height: 40px; text-align: center; padding: 5px;">
                            <a href="#">Introduction to Embedded Systems &raquo;</a>
                        </div>

                        <!--Content-->
                        <div class="flex-container">
                            <!-- <div style="width: 100%; height: 65px; background-color: black;">

                            </div> -->
                            <div class="flex-child ">
                                <h1 class="course-header"> What is Embedded Systems?</h1>
                                <hr class="course-header-line">
                                <p>
                                    To understand Embedded C, we must first understand Embedded Systems. An Embedded System 
                                    is a combination of electronic hardware usually a microcontroller or microprocessor and 
                                    software interfaced with mechanical parts, sensors or actuators, to perform specific tasks.

                                    There are so many Embedded Systems around us. Our printers, refrigerators, dish washers, 
                                    computer mice, microwaves among many other devices.
                                </p>
                                <br/>
                                <br/>


                                <h2 class="course-header-2">General Purpose Vs Dedicated Systems</h2>
                                <hr class="course-header-line-2">
                                <p>
                                    General Purpose systems are systems such as your personal computer. They perform all sorts
                                    of tasks while Dedicated systems are the embedded systems described above.
                                </p>
                                <br/>
                                <br/>
                                <h1 class="course-header-2">Embedded Software</h1>
                                <hr class="course-header-line-2">
                                <p>
                                    Embedded Software refers to the code written to interact with hardware. The code is usually written
                                     in an IDE and uploaded to the memory of the micro-controller.
                                </p>
                                <br/>
                                <br/>


                                <h1 class="course-header-2">Embedded C</h1>
                                <hr class="course-header-line-2">
                                <p>Embedded C is a slight variation of C used to program microcontrollers and microprocessors.
                                    It is very similar to C Programming Language.

                                    <h2 class="course-header-2"> Embedded Programming Languages</h2> 
                                    <hr class="course-header-line-2">
                                    There are other programming languages used
                                    programming embedded systems. Some of them are:
                                    <ul>
                                        <li>
                                            <b>C++:</b> Apart from C, C++ is the most widely used programming language for microcontrollers.
                                        </li>
                                        <li>
                                            <b>Rust:</b> 
                                        </li>
                                        <li>
                                            <b>Java:</b>
                                        </li>
                                        <li>
                                            <b>Python:</b> This is the most widely used programming language for microprocessors.
                                        </li>
                                        <li>
                                            <b>Assembly:</b> This refers to low level programming language intended to communicate
                                            directly with the hardware.
                                        </li>
                                    </ul>
                                    <br/>
                                    There are other programming languages that are used for programming embedded systems. 
                                    Discussing them is beyond the scope of this course.
                                </p>

                            </div>

                            <div class="flex-child">
                                <h2 class="course-header-2">
                                    Processors
                                </h2>
                                <hr class="course-header-line-2">
                                <p>
                                    There are several types of processors - microprocessors, microcontrollers, Digital Signal Processors(dsp),
                                    Complex Programmable Logic Device or Field Programmable Gate Arrays(CPLD/FPGA), System-on-Chip(soc). 
                                    general purpose processors such as Central Processing Unit(CPU) or Graphics Processing Unit(GPU),
                                    Application Specific Integrated Circuit(ASIC).

                                    <ol>
                                       <li>
                                            <b>Microprocessor:</b> A microprocessor is a data processing device that performs arithmetic and logic operations.
                                            It requires external input and output peripherals.
                                       </li> 
                                       <li>
                                            <b>Microcontroller:</b> A micro-controller comprises a microprocessor and other peripherals such as memory,
                                            and Input and Output peripherals on a single chip. In a microcontroller, you cannot customize the peripherals.
                                       </li>
                                       <li>
                                            <b>Complex Programmable Logic Devices:</b> CPLDs are not as complex as FPGAs but more complex than Simple 
                                            Programmable Logic Devices. They are reconfigurable. This means that the peripherals can be customised.
                                             CPLDs are control-oriented and can be used just as 
                                            microcontrollers. These Devices can be programmed using Hardware Description Languages. There is no processor
                                            core on the CPLD. The parts or blocks on a CPLD are:
                                            <dd>
                                                - Logic blocks
                                            </dd>
                                            <dd>
                                                - I/O blocks
                                            </dd>
                                            <dd>
                                                - Clock routing
                                            </dd>
                                            <dd>
                                                - Routing matrix
                                            </dd>
                                            <dd>
                                                - Memory: Non-volatile EEPROM memory
                                            </dd>
                                       </li>
                                       <li>
                                            <b>Field Programmable Gate Arrays:</b> These are integrated circuits that can be manipulated or configured by a
                                            customer after manufacturing. This means they have customizable design to optimize design for speed and cost. These are data path-oriented and can perform complex mathematical calculations just 
                                            as DSPs. FPGAs can be programmed using C programming language. FPGAs are fully parallel in implementation. The parts of an FPGA are:
                                            <dd>
                                                - Logic blocks
                                            </dd>
                                            <dd>
                                                - I/O blocks
                                            </dd>
                                            <dd>
                                                - Clock routing
                                            </dd>
                                            <dd>
                                                - Routing matrix
                                            </dd>
                                            <dd>
                                                - Memory
                                            </dd>
                                            <dd>
                                                - Multipliers/DSP blocks
                                            </dd>
                                            <dd>
                                                - Processor: There can be either soft or hard core on an FPGA. The soft core can be created using software
                                                while the hard core is fabricated in the lab. Software can be used to create multiple cores.
                                            </dd>
                                            <br>
                                            FPGAs have certain advantages over DSPs. Since they are reconfigurable, they can take up less space on boards(PCBs).
                                       </li>
                                       <li>
                                            <b>Digital Signal Processors:</b> These are specialized microprocessors designed to processor real-world
                                             signals like voice, audio, video, temperature, pressure, or position that have been converted to Digital
                                             signals for mathematical manipulations. DSPs are specialized processors so they are sequential in nature.
                                             They go through a fetch, decode and execute cycle.
                                       </li>
                                       <li>
                                            <b>Central Processing Unit:</b> Central Processing Units are arithmetic and logic devices that
                                            power your personal computers, laptops and desktops.
                                       </li>
                                       <li>
                                            <b>Graphic Processing Unit:</b> These processors are dedicated for very large computations and can handle
                                            specific tasks like performing computations on a lot of data or graphics. 
                                       </li>
                                       <li>
                                            <b>System-on-Chip:</b> Mobile phones are a great example of System-on-chip. This means having two or more
                                            on a single chip. On mobile phones, there can be different kinds of processors, CPU, GPU, DSP and etcetera.
                                            When there are identical processors it is called symmetric with one operating system and a common shared memory.
                                            A chip with different processors, instruction sets, different operating systems, and possibly without shared
                                             memory is called Asymmetric. Examples: Snapdragon, Raspberry Pi
                                       </li>
                                       <li>
                                            <b>Application Specific Integrated Circuits:</b>  These are special chips that are purpose-built for an application.
                                            The function of the chip cannot be changed after it has been built. 
                                       </li>
                                    </ol>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
               
            


            <!-- Footer -->
            <footer class="footer bg-pink-500">
                <div class="lg:mb-5 py-3 uk-link-reset">
                    <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                        <div class="flex space-x-2 text-white uppercase">
                            <a href="#"> About</a>
                            <a href="#"> Help</a>
                            <a href="#"> Terms</a>
                            <a href="#"> Privacy</a>
                        </div>
                        <!-- <a href="python_1" class="previous prev_decoration">&laquo; Prev</a> -->
                        <a href="python_2" class="previous prev_decoration">Next &raquo;</a>                        
                        <!-- <div>
                            <button>prev</button>
                            <button>next</button>
                        </div> -->
                        <p class="capitalize"> © copyright 2020 by Smat Industries Incorporated</p>
                    </div>
                </div>
            </footer>






 <!-- Scripts
    ================================================== -->
    <!-- <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script> -->
    <script src="{% static 'assets/js/myScript.js' %}"></script>
 



</body>


</html>