{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Embedded C</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    

</head>

<body>

            <header class="bg-white" style="position: fixed; top: 0;">
                <div class="header_inner">
                    <div class="left-side">
                        
                        <!-- Logo -->
                        <div id="logo" class="">
                            <a  href="/">
                                <img src="{% static 'images/logo.png' %}" class="header-favatar" style="max-height: 50px; margin: 7.5px;" alt="">
                        </div>

                        <div id="logo" class="">
                            <a href="/">
                                <b><h1 style="text-transform: uppercase;">Smat School of Engineering</h1></b>
                            </a>
                        </div>


                    </div>
                    <div class="right-side lg:pr-4">

                        <!-- profile -->

                        <a href="#">
                            <img src="{% static 'assets/images/avatars/avatar-2.jpg' %}" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="setting"> Account setting </a> </li>
                                <li><a href="explore.html">explore </a> </li>
                                <li><a href="#"> Help </a> </li>
                                <li><a href="signin"> Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>
            <div id="main" class="main">
                <!-- Hidden side bar-->
                <div id="mySidenav" class="sidenav">
                    <div class="menuitem" onclick="openNav('mySidenav1')"><a href="#" > Module 1</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav2')"><a href="#"> Module 2</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav3')"><a href="#"> Module 3</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav4')"><a href="#"> Module 4</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav5')"><a href="#"> Module 5</a></div>
                    <div class="menuitem" onclick="openNav('mySidenav6')"><a href="#"> Module 6</a></div>
                </div>
                <!-- Module 1 -->
                <div id="mySidenav1" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav1')"><a href="javascript:void(0)" class="closebtn menuitemlink" >&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(1)"><a href="#" class="menuitemlink"> Day 1</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="intro">Intro to Embedded Systems</a></div>
                        <div class="btn" ><a href="intro_embedded_c">Intro to Embedded C</a></div>
                        <div class="btn" ><a href="python_1_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_1_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(2)"><a href="#" class="menuitemlink"> Day 2</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_2_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_2_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_2_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_2_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(3)"><a href="#" class="menuitemlink"> Day 3</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_3_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_3_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_3_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_3_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(4)"><a href="#" class="menuitemlink"> Day 4</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_4_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_4_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_4_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_4_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(5)"><a href="#" class="menuitemlink"> Day 5</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_4_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_4_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_4_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_4_4">Unit 4</a></div>
                    </div>
                </div>

                <!-- Module 2 -->
                <div id="mySidenav2" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav2')"><a href="javascript:void(0)" class="closebtn menuitemlink">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(16)"><a href="#" class="menuitemlink"> Day 6</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_16_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_16_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_16_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_16_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(17)"><a href="#" class="menuitemlink"> Day 7</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_17_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_17_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_17_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_17_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(18)"><a href="#" class="menuitemlink" > Day 8</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_18_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_18_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_18_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_18_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(19)"><a href="#" class="menuitemlink"> Day 9</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_19_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_19_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_19_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_19_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(20)"><a href="#" class="menuitemlink" > Day 10</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_20_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_20_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_20_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_20_4">Unit 4</a></div>
                    </div>            

                </div>

                <!-- Module 3 -->
                <div id="mySidenav3" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav3')"><a href="javascript:void(0)" class="closebtn">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(31)"><a href="#" class="menuitemlink"> Day 11</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_31_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_31_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_31_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_31_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(32)"><a href="#" class="menuitemlink"> Day 12</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_32_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_32_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_32_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_32_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(33)"><a href="#" class="menuitemlink"> Day 13</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_33_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_33_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_33_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_33_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(34)"><a href="#" class="menuitemlink"> Day 14</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_34_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_34_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_34_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_34_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(35)"><a href="#" class="menuitemlink"> Day 15</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_35_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_35_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_35_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_35_4">Unit 4</a></div>
                    </div>


                </div>


                <!-- Module 4 -->
                <div id="mySidenav4" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav4')"><a href="javascript:void(0)" class="closebtn">&laquo; Back</a></div>                   
                    <div class="menuitem" onclick="openmenuitems(46)"><a href="#" class="menuitemlink"> Day 16</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_46_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_46_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_46_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_46_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(47)"><a href="#" class="menuitemlink"> Day 17</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_47_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_47_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_47_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_47_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(48)"><a href="#" class="menuitemlink"> Day 18</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_48_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_48_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_48_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_48_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(49)"><a href="#" class="menuitemlink"> Day 19</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_49_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_49_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_49_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_49_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(50)"><a href="#" class="menuitemlink"> Day 20</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_50_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_50_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_50_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_50_4">Unit 4</a></div>
                    </div>

               
                </div>

                <!-- Module 5 -->
                <div id="mySidenav5" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav5')"><a href="javascript:void(0)" class="closebtn menuitemlink">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(61)"><a href="#" class="menuitemlink"> Day 21</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_61_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_61_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_61_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_61_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(62)"><a href="#" class="menuitemlink"> Day 22</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_62_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_62_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_62_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_62_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(63)"><a href="#" class="menuitemlink"> Day 23</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_63_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_63_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_63_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_63_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(64)"><a href="#" class="menuitemlink"> Day 24</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_64_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_64_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_64_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_64_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(65)"><a href="#" class="menuitemlink"> Day 25</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_65_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_65_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_65_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_65_4">Unit 4</a></div>
                    </div>


               
                </div>

                <!-- Module 6 -->
                <div id="mySidenav6" class="sidenav bg-pink-500">
                    <div class="menuitem" onclick="closeNav('mySidenav6')"><a href="javascript:void(0)" class="closebtn menuitemlink">&laquo; Back</a></div>
                    <div class="menuitem" onclick="openmenuitems(76)"><a href="#" class="menuitemlink"> Day 26</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_76_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_76_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_76_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_76_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(77)"><a href="#" class="menuitemlink"> Day 27</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_77_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_77_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_77_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_77_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(78)"><a href="#" class="menuitemlink"> Day 28</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_78_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_78_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_78_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_78_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(79)"><a href="#" class="menuitemlink"> Day 29</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_79_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_79_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_79_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_79_4">Unit 4</a></div>
                    </div>

                    <div class="menuitem" onclick="openmenuitems(80)"><a href="#" class="menuitemlink"> Day 30</a></div>
                    <!-- Hidden Menu Items -->
                    <div class="menulinks">
                        <div class="btn" ><a href="python_80_1">Unit 1</a></div>
                        <div class="btn" ><a href="python_80_2">Unit 2</a></div>
                        <div class="btn" ><a href="python_80_3">Unit 3</a></div>
                        <div class="btn" ><a href="python_80_4">Unit 4</a></div>
                    </div>

                </div>

                <div id="myrightside" class="rightside"> 
                    <div id="" class="bg-pink-500 right-side-topnav">
                        <div class="menu_container " onclick="myFunction(this)">
                            <div class="bar1 bar" style="margin-top: 12.5px; margin-left: 7.75px;"></div>
                            <div class="bar2 bar" style="margin-top: 3px; margin-left: 7.75px;"></div>
                            <div class="bar3 bar" style="margin-top: 3px; margin-left: 7.75px; margin-bottom: 12.5px;"></div>
                        </div>
                       
                        
                        <!-- Settings -->
                        <a href="setting" class="bar-icons" >
                                <i class="fa fa-cog fa-2x faicons" style="margin: 5px 7.14165px;"></i>
                        </a>
                        

                        <!-- Home -->
                        <a href="dashboard" class="bar-icons">
                                <i class="fa fa-home fa-2x faicons" style="margin: 5px 6.075px;"></i>
                        </a>
                        
                    </div>
                    <div id="lessonContainer" class="lesson-container">
                        <div class="bg-white " style="height: 40px; text-align: center; padding: 5px;">
                            <a href="day_2_2">hello, World! &raquo;</a>
                        </div>

                        <!--Content-->
                        <div class="flex-container">
                            <!-- <div style="width: 100%; height: 65px; background-color: black;">

                            </div> -->
                            <div class="flex-child ">
                                <h1 class="course-header"> Hello, World!</h1>
                                <hr class="course-header-line">
                                <p>
                                    Every programming journey starts with the infamous "Hello, World!" program.
                                    Ours is not going to be different. 

                                </p>
                                <br/>
                                <br/>
                                <h2 class="course-header-2">Hello, World! Program</h2>
                                <hr class="course-header-line-2">
                                <p>
                                    Open any of the IDEs described in the previous chapter or any IDE you might be familiar with.
                                        You could also use the compiler to the right to execute your code. Thanks to JDoodle for this wonderful
                                        online compiler. Great job!
                                    
                                    <ol type="1">
                                        
                                        <li>
                                            Using the compiler on the right enter the following code
                                        </li>
                                        <li>
                                            Toggle the "interactive button" on the compiler to begin editing the code.
                                        </li>
                                        <li>
                                            Type "#include <stdio.h>" followed by two line spaces
                                        </li>
                                        <li>
                                            Type "int main()" followed by opening curly bracket "{", space in-between and then "}".
                                        </li>
                                        <li>
                                            Then type "printf("Hello, world!");"
                                        </li>
                                        <li>
                                        Then type "return 0;"
                                        </li>
                                    </ol>
                                <br/>
                                <br/>


                                <h2 class="course-header-2">Structure of a C Program</h2>
                                <hr class="course-header-line-2">
                                <p>C program basically consists of the following parts
                                    <dl>
                                        <dt>- Preprocessor Commands
                                        </dt>
                                        <dd>
                                            Inbuilt
                                        </dd>
                                        <dd>
                                            Userdefined
                                        </dd>
                                        <dt>
                                        - Functions: The "int main() {}" is an example of a function. "printf()" is also an example
                                        of a function. The "Hello, world!" is passed into the function and it is printed on the screen.
                                        </dt>
                                        <dt>
                                        - Variables: There are no variables in this example but that will be discussed soon.
                                        </dt>
                                        <dt>
                                        - Statements & Expressions: A statement is an instruction to a computer to perform a task. An
                                        example of an expression is "printf("Hello, world!");". The instruction is that the computer should
                                        print "Hello, world!" to the screen. A statement is succeeded by a semicolon.
                                        </dt>
                                        <dt>
                                        - Comments: Comments are necessary in the good programming for proper documentation and maintenance.
                                        </dt>
                                    </dl>
                                    
                                     

                                    
                                </p>
                                <br/>
                                <br/>
                            </div>

                            <div class="flex-child">
                                <h2 class="course-header-2">
                                    Code Execution
                                </h2>
                                <hr class="course-header-line-2">
                                <div data-pym-src='https://www.jdoodle.com/embed/v0/5ViP?stdin=1&arg=0'>

                                </div>
                                <!-- <div data-pym-src='https://www.jdoodle.com/plugin' data-language="java"
                                    data-version-index="4" data-libs="mavenlib1, mavenlib2">
                                    Optional default code goes here
                                </div> -->
                                <div>
                                    <h2 class="course-header-2">Exercise</h2>
                                    <hr class="course-header-line-2">
                                    <ol type="1">
                                        <li>
                                            Add a second printf() statement to the main() function. 
                                            In the second printf() statement, add "This is my second program."
                                            Remember to add a semicolon(;) at the end. Observe the output.
                                        </li>
                                        <li>
                                            Try adding a "\n" after "Hello, world!" like this "Hello, world! \n".
                                            Observe the output. The combination of the backward slash(\) and a character
                                            such as "n" is called an escape sequence.
                                        </li>
                                        <li>
                                            Try changing the words "Hello, world!" to something different and hit execute button. Practice and have fun.
                                        </li>
                                    </ol>
                                    

                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>   
               
            


            <!-- Footer -->
            <footer class="footer bg-pink-500">
                <div class="lg:mb-5 py-3 uk-link-reset">
                    <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                        <div class="flex space-x-2 text-white uppercase">
                            <a href="#"> About</a>
                            <a href="#"> Help</a>
                            <a href="#"> Terms</a>
                            <a href="#"> Privacy</a>
                        </div>
                        <!-- <a href="python_1" class="previous prev_decoration">&laquo; Prev</a> -->
                        <a href="day_2_2" class="previous prev_decoration">Next &raquo;</a>                        
                        <!-- <div>
                            <button>prev</button>
                            <button>next</button>
                        </div> -->
                        <p class="capitalize"> © copyright 2020 by Smat Industries Incorporated</p>
                    </div>
                </div>
            </footer>






 <!-- Scripts
    ================================================== -->
    <!-- <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script> -->
    <script src="{% static 'assets/js/myScript.js' %}"></script>
    <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
 



</body>


</html>