@charset "UTF-8";


/* -------------------------------------------------------------- */
/* Import font
----------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap");






body{
  /* background-color: #B0B3B8!important; */
}

/* Main div of python lectures*/
.main{
  margin:0;
}
 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  margin-top: 65px; /* Stay 65px from the top the top */
  left: 0;
  background-color: #1c1e21; /* Dark pink*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  /* Change to a classname: menuitem */
  .menuitem {
    /* padding: 8px 8px 8px 32px; */
    /* text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s; */
    height: 48px; 
    padding: 10px; 
    padding-left: 20px; 
    border-bottom: 1px solid #000000; 
    background-color: grey; 
    color: white;
    cursor: pointer;
  }
  /* sidenav div a */
  .menuitemlink {
    height: 27px;
    color: white;
  }

  .menuitem:hover {
    height: 52px;
    background-color: rgb(104, 101, 101);
  }

  .right-side-topnav {
    width: 100vw; 
    height: 40px; 
    position: fixed; 
    top: 65px; 
    z-index: 1;
}


  /* The Module 1 side navigation menu */
  #mySidenav1 {
    width: 0; /* change this using javascript*/
    transition: 0.5s;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .rightside {
    transition: 0.5s;
    margin-left: 0; /* 0 width - change this with JavaScript */
    margin-right: 0;
    height: calc(100vh - 65px);
    overflow: scroll;
  }
  
  /* Right side bar with menu icon and home icon */
  .right-side-bar{
    height: 40px; 
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
/* --------------------- */
/* Side Nav Menu Decorations */
/* --------------------- */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
}

.flex-child {
  flex: 50%;
  /* border: 2px solid yellow; */
  background-color: white;
  padding: 30px;
} 

@media (max-width: 800px) {
  .flex-child {
      flex: 100%;
  }
}

.lesson-container {
  position: absolute;
  top: 105px; 
  overflow: scroll; 
  transition: 0.5s;
  width: 100%;
}

.menulinks{
  width: 250px;
  /* background-color: blue; */
  height: 0px;
  visibility: hidden;
  transition: 0.5s;
}

.btn {
  width: 250px;
  height: 44px;
  cursor: pointer; 
  background-color: white; 
  padding: 10px; 
  padding-left: 40px; 
  padding-right: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(72, 72, 182);
}

/* When you mouse over the navigation links, change their color */
.btn:hover a {
color: #f1f1f1;
}


/* --------------------------------
Top Nav decorations
----------------------------------*/

.faicons {
  color: white;
  float: none;
}
.bar-icons {
  float: right; 
  height: 40px; 
  width: 40px;
}

.bar-icons:hover, .menu_container:hover {
  background-color: white;
}
.bar-icons:hover i{
  color: black;
}
.menu_container:hover .bar{
  background-color: black;
}


/*
Decorations for buttons
*/
.prev_decoration {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.prev_decoration:hover {
  background-color: #04AA6D;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

/*
menu three icon bar: hamburger
*/
div.menu_container {
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -6px) rotate(45deg);
}








/* -----------------------------------------------
  services-container
   -----------------------------------------------
   */

#portfolio{
  padding: 50px 0;
}
.container-work{
  padding: 10px 10%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 400px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
 .layer{ 
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #18246b);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}








/* ---------------------------------- */
/* Common Styles
------------------------------------- */
body {
  color: #666;
  font-size: 15px;
  line-height: 27px;
  background-color: #f0f2f5;
  font-family: "Inter", sans-serif;
  text-transform: none;
}

body p {
  font-size: 15px;
  line-height: 27px;
}

/* Main Font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  text-transform: none;
}

input[type="text"], input[type="password"], input[type="email"] {
  font-family: "Inter", sans-serif;
  text-transform: none;
}

textarea,
select {
  font-family: "Inter", sans-serif;
  text-transform: none;
}

input[type="button"], input[type="submit"] {
  font-family: "Inter", sans-serif;
  text-transform: none;
}

button,
body .pac-container {
  font-family: "Inter", sans-serif;
  text-transform: none;
}

/* Headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h3.page-title {
  font-size: 20px;
  line-height: 32px;
}

b,
strong {
  font-weight: 700 !important;
}

@media (min-width: 1024px) {
  .container {
    max-width: 900px !important;
    padding-top: 45px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1000px !important;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 105px 20px !important;
  }
}

.custom-overly1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
}




/* -------------------------------------------------------------- */
/* 03. Layouts
----------------------------------------------------------------- */
header {
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

header .header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1090px;
  margin: auto;
  width: 100%;
  max-width: 100% !important;
  padding: 0 30px;
}

header .header_inner .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_inner .left-side .header_search {
  position: relative;
}

header .header_inner .left-side .header_search input {
  margin: 0;
  height: 42px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 30px;
  width: 400px;
  background-color: transparent;
}

header .header_inner .left-side .header_search .icon-search {
  width: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -.75rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_inner .left-side .header_search .icon-search svg {
  width: 20px;
  color: #9ca3af;
}

header .header_inner .left-side .triger {
  position: absolute;
  left: 25px;
  top: 20px;
  color: #464646;
  display: none;
  font-size: 19px;
}

header .header_inner .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

header .header_inner .right-side .header-links-item {
  padding: 10px;
  margin-left: 8px;
}

header .header_inner .right-side .header-links-item svg {
  width: 25px;
  height: 25px;
  color: #464646;
}

header .header_inner .right-side .header-avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-left: 15px;
}

.is_fixed {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 6px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 6px 12px rgba(0, 0, 0, 0.02);
  background-color: rgba(255, 255, 255, 0.9);
  border: 0;
}

.header_dropdown {
  width: 330px;
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
  /* simplebar scrollbar */
}

.header_dropdown ul {
  padding: 0;
  margin: 0 -20px;
}

.header_dropdown ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #808080;
  position: relative;
  padding: 10px  20px;
  font-weight: 500;
  margin-bottom: -2px;
}

.header_dropdown ul li a:hover {
  background: #f7f7f7;
}

.header_dropdown ul li a .drop_avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 15px;
  margin-top: 5px;
}

.header_dropdown ul li a .drop_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

.header_dropdown ul li a .drop_content p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.header_dropdown ul li a .drop_content span.time-ago {
  font-size: 12.7px;
  color: #a0a0a0;
}

.header_dropdown ul li a .drop_content span.text-link {
  color: #5833fd;
}

.header_dropdown ul li a .drop_content strong,
.header_dropdown ul li a .drop_content span.time-ago {
  font-weight: 600;
}

.header_dropdown ul li a .drop_content time {
  font-size: 12px;
  position: absolute;
  right: 20px;
}

.header_dropdown a.see-all {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: -5px;
  font-weight: 500;
  border-top: 1px solid #e2e8f0;
  margin: 0 -1.25rem;
  padding-top: 0.5rem;
  color: #7d61fd;
}

.header_dropdown .simplebar-scrollbar {
  right: 4px !important;
  width: 6px;
}

.header_dropdown .simplebar-scrollbar:before {
  background-color: #d0d0d0;
}

.header_dropdown.profile_dropdown {
  width: 240px  !important;
  padding-bottom: 10px;
}

.header_dropdown.profile_dropdown ul {
  margin: 0 !important;
}

.header_dropdown.profile_dropdown ul a {
  padding: 0 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.header_dropdown.profile_dropdown ul a:hover {
  color: #be185d;
  background-color: transparent;
}

.header_dropdown.profile_dropdown ul a svg {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.header_dropdown.profile_dropdown ul hr {
  margin: 10px -20px;
}

.mdropdown,
.xdropdown,
.header_dropdown {
  background: white;
  border-radius: 8px;
  --tw-shadow: 0 4px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 20px;
  display: none;
}

.dropdown_scrollbar {
  max-height: 370px;
}

.uk-drop,
.uk-dropdown,
.mdropdown,
.xdropdown {
  display: none;
}

header.uk-sticky-fixed {
  z-index: 990;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

header .uk-dropdown {
  display: none;
  -webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 1100px) {
  header {
    min-height: 67px !important;
    height: auto;
    position: fixed !important;
    background: #fff;
    margin-top: -2px;
  }
  header .header_inner {
    display: block;
    padding: 5px;
  }
  header .header_inner .left-side {
    display: block;
    width: 100%;
  }
  header .header_inner .left-side #logo {
    margin-left: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header_inner .left-side #logo img {
    max-width: 60px;
  }
  header .header_inner .left-side #logo img.logo_inverse {
    display: none;
  }
  header .header_inner .left-side .triger {
    display: block;
  }
  header .header_inner .left-side .header_search {
    display: none;
  }
  header .header_inner .left-side div a b h1 {
    display: none;
  }
  header .header_inner .right-side {
    position: absolute;
    right: 20px;
    top: 17px;
  }
  header .header_inner .right-side .header-links-item {
    padding: 7px;
    margin: 0;
  }
  header .header_menu ul li a:after,
  header .header_menu ul ul li a:after {
    content: '\e930';
    margin-top: 7px;
    line-height: 13px;
    position: absolute;
    right: 20px;
    color: #585858;
    font-size: 20px;
  }
  .header_dropdown {
    left: auto !important;
    right: -20px !important;
    width: 100vw;
    max-width: 400px !important;
  }
}

@media only screen and (max-width: 600px) {
  /* settings and home menu icons should disappear */
  .main .rightside div .bar-icons {
    display: none;
  }
  /* Create a kebab menu for the settings and */
}








/*  I just created this*/
.footer { 
  /* background-color: #717164; */
  margin-top: 50px;  
  border: 1px solid black;
  float: left;
  width:100%;
  height: 10%;
  position: fixed;
  clear: both;
  margin-top: 565px;
  bottom:0
  }

  /* _-------------------- */
  /* Course Delivery Theme */
  /* --------------------- */

.course-header{
  font-size: 20px;
  font-weight: bold;
}
.course-header-2{
  font-size: 15px;
  font-weight: bold;
}
 .course-header-line { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

.course-header-line-2 {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  /* border-style: ; */
  border-width: 1px;

}


/* ---------------------- */
/* Phone Screen and Tablet Screen */
/* ---------------------- */

@media only screen and (max-width: 600px){
  /* Only Smat School of Engineering icon should appear */
  /* The hamburger icon after signing in for any course should show on the left hand side */
  /* The top rigt bar(upper most) should have a circular image for signing in */
  /* The lower top bar for navigating the course should have three dots for the dashboard and settings */
  .webname {
    display: none;
  }
}