{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <script src="https://kit.fontawesome.com/a8ef416f28.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="bg-white" style="position: fixed; top: 0;">
        <div class="header_inner">
            <div class="left-side">
                
                <!-- Logo -->
                <div id="logo" class="">
                    <a  href="/">
                        <img src="{% static 'images/logo.png' %}" class="header-favatar" style="max-height: 50px; margin: 7.5px;" alt="">
                </div>

                <div id="logo" class="">
                    <a href="/">
                        <b><h1 style="text-transform: uppercase;">Smat School of Engineering</h1></b>
                    </a>
                </div>


            </div>
            <div class="right-side lg:pr-4">

                <!-- profile -->

                <a href="#">
                    <img src="{% static 'assets/images/avatars/avatar-2.jpg' %}" class="header-avatar" alt="">
                </a>
                <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                    <ul>
                        <li><a href="setting"> Account setting </a> </li>
                        <li><a href="explore.html">explore </a> </li>
                        <li><a href="#"> Help </a> </li>
                        <li><a href="signin"> Log Out</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
            <!-- Lessons -->
            <div id="portfolio">
                <div class="container-work">
                    <h1 class="sub-title">Software Programming Languages</h1>
                    <div class="work-list">
                        <div class="work">
                            <img src="{% static 'assets/images/product/C.png' %}">
                            <div class="layer">
                                <h3>C Programming Language</h3>
                                <p>
                                    Click here to start learning C.
                                </p>
                                <a href="C_1_1"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="{% static 'assets/images/product/C++.png' %}">
                            <div class="layer">
                                <h3>C++ Programming Language</h3>
                                <p>
                                    Click here to start learning C++.
                                </p>
                                <a href="Cpp_1_1"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="{% static 'assets/images/product/Python.png' %}">
                            <div class="layer">
                                <h3>Python Programming Language</h3>
                                <p>
                                    Click here to start learning Python.
                                </p>
                                <a href="python_1_1"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="{% static 'assets/images/product/image_embedded_c.png' %}">
                            <div class="layer">
                                <h3>Embedded C</h3>
                                <p>Embedded C is the most used programming language in embedded systems.
                                    Click here to start learning Embedded C.
                                </p>
                                <a href="embedded_c"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <a class="btn" href="#">See more</a>
                </div>
            </div>

            <!-- <div id="portfolio">
                <div class="container-work">
                    <h1 class="sub-title">Software Programming Languages</h1>
                    <div class="work-list">
                        <div class="work">
                            <img src="{% static 'assets/images/product/C.png' %}">
                            <div class="layer">
                                <h3>C Programming Language</h3>
                                <p>The app connects you to the talented people around the world.
                                    Click here to start learning C.
                                </p>
                                <a href=""><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="{% static 'assets/images/product/C++.png' %}">
                            <div class="layer">
                                <h3>C++ Programming Language</h3>
                                <p>The app connects you to the talented people around the world.
                                    Click here to start learning C++.
                                </p>
                                <a href="@"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="{% static 'assets/images/product/Python.png' %}">
                            <div class="layer">
                                <h3>Python Programming Language</h3>
                                <p>The app connects you to the talented people around the world.
                                    Click here to start learning Python.
                                </p>
                                <a href=""><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <a class="btn" href="#">See more</a>
                </div>
            </div> -->
            <!-- Footer -->
            <footer>
                <div class="lg:mb-5 py-3 uk-link-reset bottom">
                    <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                        <div class="flex space-x-2 text-gray-700 uppercase">
                            <a href="#"> About</a>
                            <a href="#"> Help</a>
                            <a href="#"> Terms</a>
                            <a href="#"> Privacy</a>
                        </div>
                        <p class="capitalize"> © copyright 2020 by Smat Industries Incorporated</p>
                    </div>
                </div>
            </footer>
    







 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>